<!-- TradingView Widget BEGIN -->
<style>
  .speedometerTitle-F6VayVuW  , .tabsWrap-F6VayVuW{
    display: none !important;
  }
</style>
<div class="tradingview-widget-container" style="transform: scale(1);">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
  {
  "interval": "1m",
  "width": "100%",
  "isTransparent": true,
  "height": "148%",
  "symbol": "{{symbol}}",
  "showIntervalTabs": true,
  "locale": "en",
  "colorTheme": "dark"
}
  </script>
</div>
<!-- TradingView Widget END -->