<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget password</title>
    <link rel="stylesheet" href="/login page/css/forgetpassword.css" />
    <link rel="shortcut icon" href="./image/OIP.jpeg" type="image/jpeg">
  </head>
  <body>
    <div class="box">
      <span class="borderline"></span>
      <form action="#" onsubmit="signup(event)">
        <h2 id="login">Forget Password</h2>
        <div class="inputbox">
          <input
            type="text"
            required="required"
            id="email"
            autocomplete="new-password"
          />
          <span>Email</span>
          <i></i>
        </div>
        <input
          type="submit"
          value="Reset Password"
          id="submitbtn"
          onclick="forget()"
        />
        <div id="info">A Link Will Be Sent To Your Email</div>
      </form>
    </div>
  </body>
  <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js";
    import {
      getAuth,
      sendPasswordResetEmail,
    } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-auth.js";

    const firebaseConfig = {
      apiKey: "AIzaSyBUS7Upt8JehycnqL7hb1TYL3I7OVgLx8w",
      authDomain: "login-final-d10c1.firebaseapp.com",
      projectId: "login-final-d10c1",
      storageBucket: "login-final-d10c1.appspot.com",
      messagingSenderId: "852511096538",
      appId: "1:852511096538:web:d7a2a33ad1c3bddb806fe3",
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const auth = getAuth();

    var email = document.getElementById("email");

    window.forget = function (e) {
      var obj = {
        email: email.value,
      };

      sendPasswordResetEmail(auth, email.value)
        .then(function (success) {
          var txt;
          if (confirm("Reset Link has been send to you email")) {
            window.location = "https://mail.google.com/mail/u/0/#inbox";
          } else {
            document.getElementById("email").innerHTML = "";
          }
        })
        .catch((error) => {
          alert(error.message);
        });
    };
  </script>
</html>
