<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/navbar/css/style.css" >
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {{>script}}

    <title>Document</title>
</head>
   <style>
      /* CSS styles */
      body {
        background-color: #222222; /* Nearly black background */
        color: #ffffff; /* Text color */
        font-family: Arial, sans-serif; /* Font family */
        margin: 0;
        padding: 0;
      }
      .container {
        margin: 20px auto;
        padding: 20px;
        border: 2px solid #767676;
        border-radius: 15px; /* Border radius */
        width: 95%; /* Width of the container */
        max-width: 1350px; /* Maximum width */
        overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
      }
      table {
        width: 88vw;
        border-collapse: collapse;
        margin-bottom: 20px;
        border: 2px solid #757575; /* Border color */
        border-radius: 8px; /* Border radius */
      }
      a {
        color: #ffffff;

        text-decoration: none; /* Remove underline from links */
        transition: color 0.3s;
      }
      a:hover {
        color: #dfc900; /* Change color on hover */
      }
      th,td {
  text-align: center;
  padding: 1.8rem 2rem;
  font-size: 16px; /* Font size for table cells */
  word-wrap: break-word; /* Allow words to break */
  max-width: 200px; /* Adjust this value as needed */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Show ellipsis for overflow content */
  white-space: nowrap; /* Prevents line breaks */
}

tr:hover {
  background-color: #333; /* Row hover effect */
  transition: background-color 0.3s ease;
}

th {
  background-color: #212121; /* Darker background for table header */
  border-bottom: 2px solid #757575; /* Border color for table header */
}

td {
  border-bottom: 1px solid #757575; /* Border color for table body */
}
      .green {
        color: #4caf50; /* Green color for positive change */
      }
      .red {
        color: #f44336; /* Red color for negative change */
      }
      .search-bar input[type="text"] {
        padding: 13px;
        border-radius: 4px;
        border: 1px solid #757575;
        background-color: #212121;
        color: #ffffff;
        width: 100%;
        font-size: 16px;
        margin-top: 52px;
        width: 1116px;
        margin-left: 172px;
      }
      .results {
            display: none; /* Hide results initially */
            flex-wrap: wrap;
            margin: 20px auto;
            padding: 20px;
            margin-top: 100px;
        }
        #company_logo{
              height: 23px;
    width: 30px;
        }
        #Top_Losers{
          display: flex;
          justify-content: center;
         align-items: center;
        }
    </style>
<body>
<div class="main">
    <div class="top">
        {{>navbar}}
    </div>
     <div class="search-bar">
      <input
        type="text"
        id="searchInput"
        placeholder="Search by symbol or name..."
      />
    </div>
    <table id="results" class="results">
        <thead>
            <tr>
                <th>Logo</th>
                <th>Company</th>
                <th>Symbol</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    
    <div class="container" id="tablecontainer">
      <h2 id="Top_Losers">Top Gainers</h2>
      <table id="gainersTable">
        <thead>
          <tr>
            <!-- <th>Symbol</th>
            <th>Name</th>
            <th>Last Price</th>
            <th>Change</th>
            <th>Volume</th> -->
          </tr>
        </thead>
        <tbody>
          <!-- Table rows for gainers will be dynamically populated here -->
        </tbody>
      </table>

      <h2 id="Top_Losers">Top Losers</h2>
      <table id="losersTable">
        <thead>
          <tr>
            <!-- <th>Symbol</th>
            <th>Name</th>
            <th>Last Price</th>
            <th>Change</th>
            <th>Volume</th> -->
          </tr>
        </thead>
        <tbody>
          <!-- Table rows for losers will be dynamically populated here -->
        </tbody>
      </table>

      <h2 id="Top_Losers">Top Actives</h2>
      <table id="activesTable">
        <thead>
          <tr>
            <!-- <th>Symbol</th>
            <th>Name</th>
            <th>Last Price</th>
            <th>Change</th>
            <th>Volume</th> -->
          </tr>
        </thead>
        <tbody>
          <!-- Table rows for actives will be dynamically populated here -->
        </tbody>
      </table>
    </div>
</div>
</body>
 
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   
    <script>
    const url = "https://ms-finance.p.rapidapi.com/market/v2/get-movers";

    const options = {
        method: "GET",
        headers: {
            "X-RapidAPI-Key": "aa35bad70amsh0ab1bed3f7ef531p16eff7jsn08a0cffea595",
            "X-RapidAPI-Host": "ms-finance.p.rapidapi.com",
        },
    };

    async function fetchStockData() {
        try {
            const response = await axios.get(url, options);
            const data = response.data;
            const topGainers = data.gainers.slice(0, 10);
            const topLosers = data.losers.slice(0, 10);
            const topActives = data.actives.slice(0, 10);

            displayCards("gainersTable", topGainers);
            displayCards("losersTable", topLosers);
            displayCards("activesTable", topActives);
        } catch (error) {
            console.error("Error fetching stock data:", error);
        }
    }

    function displayCards(tableId, data) {
        const tableBody = document.querySelector(`#${tableId} tbody`);
        tableBody.innerHTML = "";

        data.forEach((stock) => {
            const row = document.createElement("tr");
            row.addEventListener('click', () => {
                window.location.href = `/stock_detailed_view/?tvwidgetsymbol=${stock.ticker}`;
            });
            const cells = [
                `<td><a href="">${stock.ticker}</a></td>`,
                `<td>${stock.name}</td>`,
                `<td>$${parseFloat(stock.lastPrice).toFixed(2)}</td>`,
                `<td class="${parseFloat(stock.percentNetChange) >= 0 ? "green" : "red"}">${parseFloat(stock.netChange).toFixed(2)}</td>`,
                `<td>${stock.volume}</td>`,
            ];
            row.innerHTML = cells.join("");
            tableBody.appendChild(row);
        });
    }

    // Data for the Nasdaq 100 companies
    const data = { 
    "Nasdaq_100": [
     
      {
            "company": "Activision Blizzard, Inc.",
            "symbol": "ATVI",
            "logo": "https://api.twelvedata.com/logo/adobe.com"
        },
        {
            "company": "Adobe Inc.",
            "symbol": "ADBE",
            "logo": "https://api.twelvedata.com/logo/adobe.com"
        },
        {
            "company": "Advanced Micro Devices, Inc.",
            "symbol": "AMD",
            "logo": "https://api.twelvedata.com/logo/amd.com"
        },
        {
            "company": "Align Technology, Inc.",
            "symbol": "ALGN",
            "logo": "https://api.twelvedata.com/logo/aligntech.com"
        },
        {
            "company": "Alphabet Inc. (Class A)",
            "symbol": "GOOGL",
            "logo": "https://api.twelvedata.com/logo/abc.xyz"
        },
        {
            "company": "Alphabet Inc. (Class C)",
            "symbol": "GOOG",
            "logo": "https://api.twelvedata.com/logo/abc.xyz"
        },
        {
            "company": "Amazon.com, Inc.",
            "symbol": "AMZN",
            "logo": "https://api.twelvedata.com/logo/aboutamazon.com"
        },
        {
            "company": "American Airlines Group, Inc.",
            "symbol": "AAL",
            "logo": "https://api.twelvedata.com/logo/americanairlines.in"
        },
        {
            "company": "Amgen Inc.",
            "symbol": "AMGN",
            "logo": "https://api.twelvedata.com/logo/amgen.com"
        },
        {
            "company": "Analog Devices, Inc.",
            "symbol": "ADI",
            "logo": "https://api.twelvedata.com/logo/analog.com"
        },
        {
            "company": "Apple Inc.",
            "symbol": "AAPL",
            "logo": "https://api.twelvedata.com/logo/apple.com"
        },
        {
            "company": "Applied Materials, Inc.",
            "symbol": "AMAT",
            "logo": "https://api.twelvedata.com/logo/appliedmaterials.com"
        },
        {
            "company": "ASML Holding N.V.",
            "symbol": "ASML",
            "logo": "https://api.twelvedata.com/logo/asml.com"
        },
        {
            "company": "Atlassian Corporation Plc",
            "symbol": "TEAM",
            "logo": "https://api.twelvedata.com/logo/atlassian.com"
        },
        {
            "company": "Autodesk, Inc.",
            "symbol": "ADSK",
            "logo": "https://api.twelvedata.com/logo/autodesk.com"
        },
        {
            "company": "Automatic Data Processing, Inc.",
            "symbol": "ADP",
            "logo": "https://api.twelvedata.com/logo/adp.com"
        },
        {
            "company": "Baidu, Inc.",
            "symbol": "BIDU",
            "logo": "https://api.twelvedata.com/logo/ir.baidu.com"
        },
        {
            "company": "Biogen Inc.",
            "symbol": "BIIB",
            "logo": "https://api.twelvedata.com/logo/biogen.com"
        },
        {
            "company": "BioMarin Pharmaceutical Inc.",
            "symbol": "BMRN",
            "logo": "https://api.twelvedata.com/logo/biomarin.com"
        },
        {
            "company": "Booking Holdings Inc.",
            "symbol": "BKNG",
            "logo": "https://api.twelvedata.com/logo/bkng_logo.png"
        },
        {
            "company": "Broadcom Inc.",
            "symbol": "AVGO",
            "logo": "https://api.twelvedata.com/logo/avgo_logo.png"
        },
        {
            "company": "Cadence Design Systems, Inc.",
            "symbol": "CDNS",
            "logo": "https://api.twelvedata.com/logo/cdns_logo.png"
        },
        {
            "company": "CDW Corporation",
            "symbol": "CDW",
            "logo": "https://api.twelvedata.com/logo/cdw.com"
        },
        {
            "company": "Cerner Corporation",
            "symbol": "CERN",
            "logo": "https://api.twelvedata.com/logo/cern_logo.png"
        },
        {
            "company": "Charter Communications, Inc.",
            "symbol": "CHTR",
            "logo": "https://api.twelvedata.com/logo/corporate.charter.com"
        },
        {
            "company": "Check Point Software Technologies Ltd.",
            "symbol": "CHKP",
            "logo": "https://api.twelvedata.com/logo/checkpoint.com"
        },
        {
            "company": "Cintas Corporation",
            "symbol": "CTAS",
            "logo": "https://api.twelvedata.com/logo/cintas.com"
        },
        {
            "company": "Cisco Systems, Inc.",
            "symbol": "CSCO",
            "logo": "https://api.twelvedata.com/logo/cisco.com"
        },
        {
            "company": "Citrix Systems, Inc.",
            "symbol": "CTXS",
            "logo": "https://api.twelvedata.com/logo/corporate.citrix.com"
        },
        {
            "company": "Cognizant Technology Solutions Corporation",
            "symbol": "CTSH",
            "logo": "https://api.twelvedata.com/logo/cognizant.com"
        },
        {
            "company": "Comcast Corporation",
            "symbol": "CMCSA",
            "logo": "https://api.twelvedata.com/logo/corporate.comcast.com"
        },
        {
            "company": "Copart, Inc.",
            "symbol": "CPRT",
            "logo": "https://api.twelvedata.com/logo/copart.com"
        },
        {
            "company": "Costco Wholesale Corporation",
            "symbol": "COST",
            "logo": "https://api.twelvedata.com/logo/costco.com"
        },
        {
            "company": "CSX Corporation",
            "symbol": "CSX",
            "logo": "https://api.twelvedata.com/logo/csx.com"
        },
        {
            "company": "Dentsply Sirona Inc.",
            "symbol": "XRAY",
            "logo": "https://api.twelvedata.com/logo/dentsplysirona.com"
        },
        {
            "company": "DocuSign, Inc.",
            "symbol": "DOCU",
            "logo": "https://api.twelvedata.com/logo/DocuSign.com"
        },
        {
            "company": "Dollar Tree, Inc.",
            "symbol": "DLTR",
            "logo": "https://api.twelvedata.com/logo/dollartree.com"
        },
        {
            "company": "eBay Inc.",
            "symbol": "EBAY",
            "logo": "https://api.twelvedata.com/logo/ebayinc.com"
        },
        {
            "company": "Electronic Arts Inc.",
            "symbol": "EA",
            "logo": "https://api.twelvedata.com/logo/ea.com"
        },
        {
            "company": "Exelon Corporation",
            "symbol": "EXC",
            "logo": "https://api.twelvedata.com/logo/exeloncorp.com"
        },
        {
            "company": "Expedia Group, Inc.",
            "symbol": "EXPE",
            "logo": "https://api.twelvedata.com/logo/expediagroup.com"
        },
        {
            "company": "Fastenal Company",
            "symbol": "FAST",
            "logo": "https://api.twelvedata.com/logo/fastenal.com"
        },
        {
            "company": "Fiserv, Inc.",
            "symbol": "FISV",
            "logo": "https://api.twelvedata.com/logo/fiserv.com"
        },
        {
            "company": "Fox Corporation (Class A)",
            "symbol": "FOXA",
            "logo": "https://api.twelvedata.com/logo/foxcorporation.com"
        },
        {
            "company": "Fox Corporation (Class B)",
            "symbol": "FOX",
            "logo": "https://api.twelvedata.com/logo/foxcorporation.com"
        },
        {
            "company": "Gilead Sciences, Inc.",
            "symbol": "GILD",
            "logo": "https://api.twelvedata.com/logo/gilead.com"
        },
        {
            "company": "IDEXX Laboratories, Inc.",
            "symbol": "IDXX",
            "logo": "https://api.twelvedata.com/logo/idexx.com"
        },
        {
            "company": "Incyte Corporation",
            "symbol": "INCY",
            "logo": "https://api.twelvedata.com/logo/incyte.com"
        },
        {
            "company": "Intel Corporation",
            "symbol": "INTC",
            "logo": "https://api.twelvedata.com/logo/intel.com"
        },
        {
            "company": "Intuit Inc.",
            "symbol": "INTU",
            "logo": "https://api.twelvedata.com/logo/intuit.com"
        },
        {
            "company": "Intuitive Surgical, Inc.",
            "symbol": "ISRG",
            "logo": "https://api.twelvedata.com/logo/intuitive.com"
        },
        {
            "company": "JD.com, Inc.",
            "symbol": "JD",
            "logo": "https://api.twelvedata.com/logo/jd.com"
        },
        {
            "company": "KLA Corporation",
            "symbol": "KLAC",
            "logo": "https://api.twelvedata.com/logo/kla.com"
        },
        {
            "company": "Kraft Heinz Company",
            "symbol": "KHC",
            "logo": "https://api.twelvedata.com/logo/kraftheinzcompany.com"
        },
        {
            "company": "Lam Research Corporation",
            "symbol": "LRCX",
            "logo": "https://api.twelvedata.com/logo/lamresearch.com"
        },
        {
            "company": "Liberty Global plc",
            "symbol": "LBTYA",
            "logo": "https://api.twelvedata.com/logo/libertyglobal.com"
        },
        {
            "company": "Marriott International, Inc.",
            "symbol": "MAR",
            "logo": "https://api.twelvedata.com/logo/marriott.com"
        },
        {
            "company": "Match Group, Inc.",
            "symbol": "MTCH",
            "logo": "https://api.twelvedata.com/logo/matchgroup.com"
        },
        {
            "company": "MercadoLibre, Inc.",
            "symbol": "MELI",
            "logo": "https://api.twelvedata.com/logo/mercadolibre.com"
        },
        {
            "company": "Microchip Technology Incorporated",
            "symbol": "MCHP",
            "logo": "https://api.twelvedata.com/logo/microchip.com"
        },
        {
            "company": "Micron Technology, Inc.",
            "symbol": "MU",
            "logo": "https://api.twelvedata.com/logo/micron.com"
        },
        {
            "company": "Moderna, Inc.",
            "symbol": "MRNA",
            "logo": "https://api.twelvedata.com/logo/modernatx.com"
        },
        {
            "company": "Mondelez International, Inc.",
            "symbol": "MDLZ",
            "logo": "https://api.twelvedata.com/logo/mondelezinternational.com"
        },
        {
            "company": "Monster Beverage Corporation",
            "symbol": "MNST",
            "logo": "https://api.twelvedata.com/logo/monsterbevcorp.com"
        },
        {
            "company": "NetEase, Inc.",
            "symbol": "NTES",
            "logo": "https://api.twelvedata.com/logo/ir.netease.com"
        },
        {
            "company": "Netflix, Inc.",
            "symbol": "NFLX",
            "logo": "https://api.twelvedata.com/logo/netflix.com"
        },
        {
            "company": "NVIDIA Corporation",
            "symbol": "NVDA",
            "logo": "https://api.twelvedata.com/logo/nvidia.com"
        },
        {
            "company": "NXP Semiconductors N.V.",
            "symbol": "NXPI",
            "logo": "https://api.twelvedata.com/logo/nxp.com"
        },
        {
            "company": "Okta, Inc.",
            "symbol": "OKTA",
            "logo": "https://api.twelvedata.com/logo/okta.com"
        },
        {
            "company": "PACCAR Inc",
            "symbol": "PCAR",
            "logo": "https://api.twelvedata.com/logo/paccar.com"
        },
        {
            "company": "Palo Alto Networks, Inc.",
            "symbol": "PANW",
            "logo": "https://api.twelvedata.com/logo/paloaltonetworks.com"
        },
        {
            "company": "Paychex, Inc.",
            "symbol": "PAYX",
            "logo": "https://api.twelvedata.com/logo/paychex.com"
        },
        {
            "company": "PayPal Holdings, Inc.",
            "symbol": "PYPL",
            "logo": "https://api.twelvedata.com/logo/paypal.com"
        },
        {
            "company": "Peloton Interactive, Inc.",
            "symbol": "PTON",
            "logo": "https://api.twelvedata.com/logo/onepeloton.com"
        },
        {
            "company": "PepsiCo, Inc.",
            "symbol": "PEP",
            "logo": "https://api.twelvedata.com/logo/pepsico.com"
        },
        {
            "company": "Qualcomm Incorporated",
            "symbol": "QCOM",
            "logo": "https://api.twelvedata.com/logo/qualcomm.com"
        },
        {
            "company": "Regeneron Pharmaceuticals, Inc.",
            "symbol": "REGN",
            "logo": "https://api.twelvedata.com/logo/regeneron.com"
        },
        {
            "company": "Ross Stores, Inc.",
            "symbol": "ROST",
            "logo": "https://api.twelvedata.com/logo/rossstores.com"
        },
        {
            "company": "Seattle Genetics, Inc.",
            "symbol": "SGEN",
            "logo": "https://api.twelvedata.com/logo/seattlegenetics.com"
        },
        {
            "company": "Sirius XM Holdings Inc.",
            "symbol": "SIRI",
            "logo": "https://api.twelvedata.com/logo/siriusxm.com"
        },
        {
            "company": "Skyworks Solutions, Inc.",
            "symbol": "SWKS",
            "logo": "https://api.twelvedata.com/logo/skyworksinc.com"
        },
        {
            "company": "Splunk Inc.",
            "symbol": "SPLK",
            "logo": "https://api.twelvedata.com/logo/splunk.com"
        },
        {
            "company": "Starbucks Corporation",
            "symbol": "SBUX",
            "logo": "https://api.twelvedata.com/logo/starbucks.com"
        },
        {
            "company": "Synopsys, Inc.",
            "symbol": "SNPS",
            "logo": "https://api.twelvedata.com/logo/synopsys.com"
        },
        {
            "company": "T-Mobile US, Inc.",
            "symbol": "TMUS",
            "logo": "https://api.twelvedata.com/logo/t-mobile.com"
        },
        {
            "company": "Take-Two Interactive Software, Inc.",
            "symbol": "TTWO",
            "logo": "https://api.twelvedata.com/logo/take2games.com"
        },
        {
            "company": "Tesla, Inc.",
            "symbol": "TSLA",
            "logo": "https://api.twelvedata.com/logo/tesla.com"
        },
        {
            "company": "Texas Instruments Incorporated",
            "symbol": "TXN",
            "logo": "https://api.twelvedata.com/logo/ti.com"
        },
        {
            "company": "The Kraft Heinz Company",
            "symbol": "KHC",
            "logo": "https://api.twelvedata.com/logo/kraftheinzcompany.com"
        },
        {
            "company": "Trip.com Group Limited",
            "symbol": "TCOM",
            "logo": "https://api.twelvedata.com/logo/ir.ctrip.com"
        },
        {
            "company": "Ulta Beauty, Inc.",
            "symbol": "ULTA",
            "logo": "https://api.twelvedata.com/logo/ultabeauty.com"
        },
        {
            "company": "Verisk Analytics, Inc.",
            "symbol": "VRSK",
            "logo": "https://api.twelvedata.com/logo/verisk.com"
        },
        {
            "company": "Vertex Pharmaceuticals Incorporated",
            "symbol": "VRTX",
            "logo": "https://api.twelvedata.com/logo/vrtx.com"
        },
        {
            "company": "Walgreens Boots Alliance, Inc.",
            "symbol": "WBA",
            "logo": "https://api.twelvedata.com/logo/walgreensbootsalliance.com"
        },
        {
            "company": "Western Digital Corporation",
            "symbol": "WDC",
            "logo": "https://api.twelvedata.com/logo/westerndigital.com"
        },
        {
            "company": "Workday, Inc.",
            "symbol": "WDAY",
            "logo": "https://api.twelvedata.com/logo/workday.com"
        },
        {
            "company": "Xcel Energy Inc.",
            "symbol": "XEL",
            "logo": "https://api.twelvedata.com/logo/xcelenergy.com"
        },
        {
            "company": "Xilinx, Inc.",
            "symbol": "XLNX",
            "logo": "https://api.twelvedata.com/logo/xilinx.com"
        },
        {
            "company": "Zoom Video Communications, Inc.",
            "symbol": "ZM",
            "logo": "https://api.twelvedata.com/logo/zoom.us"
        },
        {
            "company": "Zscaler, Inc.",
            "symbol": "ZS",
            "logo": "https://api.twelvedata.com/logo/zscaler.com"
        },
    ]
};

    // Function to render search results
    function renderResults(companies) {
    const resultsBody = document.getElementById('results').getElementsByTagName('tbody')[0];
    resultsBody.innerHTML = ''; // Clear previous results
    companies.forEach(company => {
        const row = resultsBody.insertRow();
        const cell1 = row.insertCell(0);
        const cell2 = row.insertCell(1);
        const cell3 = row.insertCell(2);

        // Create an anchor element (<a>) for clickable link
        const link = document.createElement('a');
        link.href = `/stock_detailed_view/?tvwidgetsymbol=${company.symbol}`; // Replace with your link URL
        link.textContent = company.company;
        cell2.appendChild(link);

        cell1.innerHTML = `<img src="${company.logo}" alt="${company.company} logo" id="company_logo">`;
        cell3.textContent = company.symbol;

        // Add click event listener to the row
        row.addEventListener('click', function() {
            window.location.href = link.href; // Navigate to the link URL when row is clicked
        });
    });

    // Show or hide the table based on results
    document.getElementById('results').style.display = companies.length > 0 ? 'table' : 'none';
}


    // Function to handle search input
    function handleSearch(event) {
    const query = event.target.value.trim().toLowerCase();
    const resultsTable = document.getElementById('results');
    const topGainersTable = document.getElementById('gainersTable');
    const topLosersTable = document.getElementById('losersTable');
    const topActivesTable = document.getElementById('activesTable');
    const container = document.getElementById('tablecontainer');


    const topGainersHeading = document.querySelector('#gainersTable').previousElementSibling;
    const topLosersHeading = document.querySelector('#losersTable').previousElementSibling;
    const topActivesHeading = document.querySelector('#activesTable').previousElementSibling;

    if (query.length === 0) {
        resultsTable.style.display = 'none';
        tablecontainer.style.display = 'block';

        return;
    }

    const filteredCompanies = data.Nasdaq_100.filter(company => {
        return company.company.toLowerCase().includes(query) || company.symbol.toLowerCase().includes(query);
    });
    renderResults(filteredCompanies);

    resultsTable.style.display = 'table'; // Show results table
    tablecontainer.style.display = 'none';

}
    // Add event listener to search input
    document.getElementById('searchInput').addEventListener('input', handleSearch);

    // Initial fetch of stock data
    fetchStockData();
</script>


</html>